body {
	width: 1440px;
	height: 7725px;
	display:flex;
	margin: 0 auto;
	background: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
}

.header {
	display:flex;
	position: absolute;
	list-style: none; 
	margin: 0 auto;
	left: 123px;
	top: 47px;
	font-family: Poppins;
	font-style: normal;
	font-size: 20px;
	line-height: 30px;
	color: #ffffff;
}

.menu_item {
	display: flex;
	margin-left: 40px;
	letter-spacing: 0.01em;
}

.logo {
	display: flex;
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 37px;
	margin-top: -3px;
}

.logo-span {
	color: #a04af7;
	padding-left: 2px;
}

.search {
	display:flex;
	width: 385px;
	height: 50px;
	margin: -10px 0px 10px 29px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.1);
	padding-left: 35px;
	padding-top: 5px;
	background: url(img/search.png) no-repeat 10px 12px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: rgba(255, 255, 255);
}

::placeholder {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.5);
	padding-left: 6px;
	word-spacing: 0.05em;
}


button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	padding: 10px 20px;
	background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
	border-radius: 10px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: #FFFFFF;
}

.menu_button {
	margin-top: -10px;
}

